<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="湿地GIS.Properties.Settings.LNNU_GISConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\LNNU_GIS.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>